{% extends '::base.html.twig' %}

{% block meta %}
    <meta charset="utf-8">
    <title>{% block title %}Админцентр{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="админцентр">
    <meta name="author" content="">
{% endblock %}

{% block text %}
    <div class="span8">

        <div class="page-header">
            <h1>Редактирование постов</h1>
        </div>

        {% for post in posts %}
            <div>
                <table class="table">
                <tr>
                    <td width="500">
                        <h5><a href="{{ app.request.basePath }}/post/{{ post.id }}">{{ post.title}}</a></h5>
                    </td>

                    <td>
                        <a href="{{ app.request.basePath }}/post/edit/{{ post.id }}"><small>Редактировать</small></a>
                    </td>

                    <td>
                        <a href="{{ app.request.basePath }}/post/delete/{{ post.id }}"><small>Удалить</small></a>
                    </td>
                </tr>
                </table>

            </div>
        {% else %}
            Пока в блоге нет статей.
        {% endfor %}


        <div class="pagination">
            <ul>

                {% block pagination %}
                    <li><a href="{{ app.request.basePath }}/admin/page/1">Start</a></li>

                    {% if id not in [1] %}
                        <li><a href="{{ app.request.basePath }}/admin/page/{{ id - 1 }}">Prev</a></li>
                    {% endif %}

                    {% if pages < 5 %}
                        {% for i in 1..pages %}
                            <li><a href="{{ app.request.basePath }}/admin/page/{{ i }}">{{ i }}</a></li>
                        {% endfor %}
                    {% else %}
                        {% for i in 1..5 %}
                            <li><a href="{{ app.request.basePath }}/admin/page/{{ i }}">{{ i }}</a></li>
                        {% endfor %}
                    {% endif %}

                    <li><a href="{{ app.request.basePath }}/admin/page/{{ id + 1 }}">Next</a></li>
                    <li><a href="{{ app.request.basePath }}/admin/page/{{ pages }}">End</a></li>
                {% endblock %}

            </ul>
        </div>
    </div>
{% endblock %}
{% block sidebar %}
    <div class="span2 offset1">
        <ul class="nav nav-list">
            <li class="nav-header">Меню</li>
            <li class="active"><a href="{{ app.request.basePath }}/">На главную</a></li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><a href="{{ app.request.basePath }}/post/add">Добавить пост</a></li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ app.request.basePath }}/admin/">Админка</a></li>
            <li><a href="{{ app.request.basePath }}/post/tag">Добавить теги</a></li>
            {% endif %}
            <li><a href="{{ app.request.basePath }}/">Ссылка</a></li>
            <li><a href="{{ app.request.basePath }}/">Ссылка</a></li>
            <li class="nav-header">Облако тегов</li>
            <li>разные теги бла бла бла</li>
            <li class="nav-header">3 блок</li>
            <li>не помню для чего</li>
        </ul>
    </div>
{% endblock %}