{% extends '::base.html.twig' %}

{% block meta %}
    <meta charset="utf-8">
    <title>{% block title %}Админцентр|Редактирование комментариев{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="админцентр">
    <meta name="author" content="">
{% endblock %}

{% block text %}
    <div class="span8">

        <div class="page-header">
            <h1>Редактирование комментариев</h1>
        </div>

        {% for comment in comments %}
            <div>
                <table class="table">
                <tr>
                    <td width="200">
                        <h5><a href="{{ path('acme_blog_admin_comment', {'id': comment.id}) }}">Комментарий № {{ comment.id}}</a></h5>
                    </td>

                    <td width="200">
                        <small>{{ comment.text }}</small>
                    </td>

                    <td>
                        <a href="{{ path('acme_blog_admin_comment', {'id': comment.id}) }}"><small>Редактировать</small></a>
                    </td>


                </tr>
                </table>

            </div>
        {% else %}
            Пока в блоге нет статей.
        {% endfor %}


        <div class="pagination">
            <ul>

                {% block pagination %}
                    {% if count < 5 %}

                        {% for i in 1..count %}
                            <li><a href="{{ app.request.basePath }}/admin/comments/page/{{ i }}">{{ i }}</a></li>
                        {% endfor %}

                    {% else %}
                        {% for i in 1..5 %}
                            <li><a href="{{ app.request.basePath }}/admin/comments/page/{{ i }}">{{ i }}</a></li>
                        {% endfor %}

                    {% endif %}

                    <li><a href="{{ app.request.basePath }}/admin/comments/page/{{ id + 1 }}">Next</a></li>
                    <li><a href="{{ app.request.basePath }}/admin/comments/page/{{ count }}">End</a></li>
                {% endblock %}

            </ul>
        </div>
    </div>
{% endblock %}
{% block sidebar %}
    <div class="span2 offset1">
        <ul class="nav nav-list">
            <li class="nav-header">Меню</li>
            <li class="active"><a href="{{ app.request.basePath }}/">На главную</a></li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><a href="{{ app.request.basePath }}/post/add">Добавить пост</a></li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ app.request.basePath }}/admin/">Админка</a></li>
            <li><a href="{{ app.request.basePath }}/admin/tag">Добавить теги</a></li>
            {% endif %}
            <li><a href="{{ app.request.basePath }}/">Ссылка</a></li>
            <li><a href="{{ app.request.basePath }}/">Ссылка</a></li>

            <li>{% block tagcloud %}

                    {% for tagcloudcall in tagcloudcall if tagcloudcall.count <= mean / 2 and tagcloudcall.count >0  %}
                        <font size="1"><a href="{{ path('acme_blog_view_tag', {'id': tagcloudcall.id}) }}">{{ tagcloudcall.text }}</a></font>
                    {% endfor %}
                    {% for tagcloudcall in tagcloudcall if tagcloudcall.count >= mean and tagcloudcall.count <= mean * 2 %}
                        <font size="3"><a href="{{ path('acme_blog_view_tag', {'id': tagcloudcall.id}) }}">{{ tagcloudcall.text }}</a></font>
                    {% endfor %}

                    {% for tagcloudcall in tagcloudcall if tagcloudcall.count > mean * 2 and tagcloudcall.count <= mean * 3 %}
                        <font size="5"><a href="{{ path('acme_blog_view_tag', {'id': tagcloudcall.id}) }}">{{ tagcloudcall.text }}</a></font>
                    {% endfor %}

                    {% for tagcloudcall in tagcloudcall if tagcloudcall.count > mean * 3 and tagcloudcall.count <= mean * 4 %}
                        <font size="7"><a href="{{ path('acme_blog_view_tag', {'id': tagcloudcall.id}) }}">{{ tagcloudcall.text }}</a></font>
                    {% endfor %}

                    {% for tagcloudcall in tagcloudcall if tagcloudcall.count > mean * 4 and tagcloudcall.count <= mean * 5 %}
                        <p><font size="9"><a href="{{ path('acme_blog_view_tag', {'id': tagcloudcall.id}) }}">{{ tagcloudcall.text }}</a></font></p>
                    {% endfor %}

                    {% for tagcloudcall in tagcloudcall if tagcloudcall.count > mean * 5 %}
                        <p><font size="5"><a href="{{ path('acme_blog_view_tag', {'id': tagcloudcall.id}) }}">{{ tagcloudcall.text }}</a></font></p>
                    {% endfor %}
                {% endblock %}</li>
            <li class="nav-header">3 блок</li>
            <li>не помню для чего</li>
        </ul>
    </div>
{% endblock %}