{% extends '::base.html.twig' %}

{% block pagination %}
    <li><a href="{{ app.request.basePath }}/page/1">Start</a></li>

    {% if id not in [1] %}
        <li><a href="{{ app.request.basePath }}/page/{{ id - 1 }}">Prev</a></li>
    {% endif %}

    {% if pages < 5 %}
        {% for i in 1..pages %}
            <li><a href="{{ app.request.basePath }}/page/{{ i }}">{{ i }}</a></li>
        {% endfor %}
    {% else %}
        {% for i in 1..5 %}
            <li><a href="{{ app.request.basePath }}/page/{{ i }}">{{ i }}</a></li>
        {% endfor %}
    {% endif %}

    <li><a href="{{ app.request.basePath }}/page/{{ id + 1 }}">Next</a></li>
    <li><a href="{{ app.request.basePath }}/page/{{ pages }}">End</a></li>
{% endblock %}
{% block sidebar %}
    <div class="span2 offset1">
        <ul class="nav nav-list">
            <li class="nav-header">Меню</li>
            <li class="active"><a href="{{ app.request.basePath }}/">На главную</a></li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li><a href="{{ app.request.basePath }}/post/add">Добавить пост</a></li>
        {% endif %}
            <li><a href="{{ app.request.basePath }}/">Ссылка</a></li>
            <li><a href="{{ app.request.basePath }}/">Ссылка</a></li>
            <li><a href="{{ app.request.basePath }}/">Ссылка</a></li>
            <li class="nav-header">Облако тегов</li>
            <li>разные теги бла бла бла</li>
            <li class="nav-header">3 блок</li>
            <li>не помню для чего</li>
        </ul>
    </div>
{% endblock %}