{% extends '::base.html.twig' %}


{% block text %}
    <div class="span8">

        <div class="page-header">
            <h1>{{ post.title }}</h1>
        </div>
        <div>
            <p class="pull-left">
            </p>
            <p>{{ post.post }}</p>

            <p>
                <small>{{ post.user }}</small>
            </p>
            <p class="pull-right">
                <small>
                    <time datetime="{{ post.created|date('c') }}">{{ post.created|date('l, F j, Y') }}</time>
                </small>
            </p>
            <p class="pull-left">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% if post.user.id == app.user.id %}
                        <a href="{{ app.request.basePath }}/post/edit/{{ post.id }}">Редактировать</a>
                    {% endif %}
                {% endif %}
            </p>
        </div>
    </div>
{% endblock %}


{% block pagination %}
{% endblock %}
