{% extends '::base.html.twig' %}

{% block meta %}
    <meta charset="utf-8">
    <title>{% block title %}{{ post.title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ post.description }}">
    <meta name="author" content="">
{% endblock %}

{% block text %}
    <div class="span8">

        <div class="page-header">
            <h1>{{ post.title }}</h1>
        </div>
        <div>
            <p class="pull-left">
            </p>
            <p>
                {{ post.post }}
            </p>

            <p>
                <small>{{ post.user }}</small>
            </p>
            <p class="pull-right">
                <small>
                    <time datetime="{{ post.created|date('c') }}">{{ post.created|date('l, F j, Y') }}</time>
                </small>
            </p>
            <p class="pull-left">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% if post.user.id == app.user.id %}
                        <a href="{{ app.request.basePath }}/post/edit/{{ post.id }}">Редактировать</a>
                    {% endif %}
                {% endif %}
            </p>
        </div>
    </div>
    <div class="span8">
        <div class="page-header">
            <h2>Комментарии</h2>
            <p>
                    {% for comments in comments %}
                    <p><b>{{ comments.user }}</b></p>
                    <p>{{ comments.comment }}</p>

                    {% endfor %}
            </p>
        </div>
    </div>
    <div class="span8">
        <div class="page-header">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <h2>Оставить комментарий</h2>
            <p>
            <form action="{{ path('acme_blog_post') }}" method="post" {{ form_enctype(form) }}>
                {{ form_label(form.comment, null, {'label': 'Комментарий', 'label_attr': {'class': 'text-info'}}) }}
                {{ form_widget(form.comment, {'attr': {'class': '.span5'}}) }}
                {{ form_rest(form) }}
                <input type="submit" class="btn btn-primary" />
            </form>
            </p>
            {% else %}
            <p>авторизуйтесь, для отправки комментариев</p>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block pagination %}
{% endblock %}
