{% extends '::base.html.twig' %}

{% block head %}
<head>
    {% block meta %}
    <metak charset="utf-8">
        <title>{% block title %}Посты с тегом "{{ tag.text }}"{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ tag.text }}">
        <meta name="author" content="">

     {% endblock %}
    <!-- Le styles -->
    {% block stylesheets %}
        <link href="{{ app.request.basePath }}/css/bootstrap.css" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .sidebar-nav {
                padding: 9px 0;
            }
        </style>
        <link href="{{ app.request.basePath }}/css/bootstrap-responsive.css" rel="stylesheet">
    {% endblock %}
</head>
{% endblock %}
{% block text %}
    <div class="span8">
        <div class="page-header">
            <h1>Simple-blogs - блог на Symfony 2</h1>
        </div>

        {% for post in post %}
            <p><h2><a href="{{ app.request.basePath }}/post/{{ post.id }}">{{ post.title }}</a></h2></p>
            <p>{{ post.annotation }}</p>
        {% endfor %}

        <div class="pagination">
            <ul>
                {% if count > 1 %}
                <li><a href="{{ app.request.basePath }}/post/tag/{{ id }}/page/1">Start</a></li>

                {% if idp not in [1] %}
                    <li><a href="{{ app.request.basePath }}/post/tag/{{ id }}/page/{{ idp - 1 }}">Prev</a></li>
                {% endif %}

                {% if idp < 5 and count < 6 %}
                    {% for i in 1..count %}
                        <li><a href="{{ app.request.basePath }}/post/tag/{{ id }}/page/{{ i }}">{{ i }}</a></li>
                    {% endfor %}
                {% elseif idp < 5 and count > 5 %}
                    {% if idp >2 %}
                    <li><a href="{{ app.request.basePath }}/post/tag/{{ id }}/page/{{ idp - 2 }}">{{ idp - 2 }}</a></li>
                    {% endif %}
                    {% if idp >1 %}
                    <li><a href="{{ app.request.basePath }}/post/tag/{{ id }}/page/{{ idp - 1 }}">{{ idp - 1 }}</a></li>
                    {% endif %}

                    <li><a href="{{ app.request.basePath }}/post/tag/{{ id }}/page/{{ idp }}">{{ idp }}</a></li>
                    <li><a href="{{ app.request.basePath }}/post/tag/{{ id }}/page/{{ idp + 1 }}">{{ idp + 1 }}</a></li>
                    <li><a href="{{ app.request.basePath }}/post/tag/{{ id }}/page/{{ idp + 2 }}">{{ idp + 2 }}</a></li>
                {% endif %}

                {% if idp > 4 %}
                    <li><a href="{{ app.request.basePath }}/post/tag/{{ id }}/page/{{ idp - 2 }}">{{ idp - 2 }}</a></li>
                    <li><a href="{{ app.request.basePath }}/post/tag/{{ id }}/page/{{ idp - 1 }}">{{ idp - 1 }}</a></li>
                    <li><a href="{{ app.request.basePath }}/post/tag/{{ id }}/page/{{ idp }}">{{ idp }}</a></li>
                {% if count >= idp + 1 %}
                    <li><a href="{{ app.request.basePath }}/post/tag/{{ id }}/page/{{ idp + 1 }}">{{ idp + 1 }}</a></li>
                {% endif %}
                {% if count >= idp + 2 %}
                    <li><a href="{{ app.request.basePath }}/post/tag/{{ id }}/page/{{ idp + 2 }}">{{ idp + 2 }}</a></li>
                {% endif %}


                {% endif %}
            {% if count > idp %}
                <li><a href="{{ app.request.basePath }}/post/tag/{{ id }}/page/{{ idp + 1 }}">Next</a></li>
             {% endif %}
                <li><a href="{{ app.request.basePath }}/post/tag/{{ id }}/page/{{ count }}">End</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="span2 offset1">
        <ul class="nav nav-list">
            <li class="nav-header">Меню</li>
            <li class="active"><a href="{{ app.request.basePath }}/">На главную</a></li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><a href="{{ app.request.basePath }}/post/add">Добавить пост</a></li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ app.request.basePath }}/admin/">Админка</a></li>
                <li><a href="{{ app.request.basePath }}/admin/tag">Добавить теги</a></li>
            {% endif %}
            <li><a href="{{ app.request.basePath }}/">Ссылка</a></li>
            <li><a href="{{ app.request.basePath }}/">Ссылка</a></li>
            <li class="nav-header">Облако тегов</li>
            {% block tagcloud %}

                {% for tagcloudcall in tagcloudcall if tagcloudcall.count <= mean / 2 and tagcloudcall.count >0  %}
                    <font size="1"><a href="{{ path('acme_blog_view_tag', {'id': tagcloudcall.id}) }}">{{ tagcloudcall.text }}</a></font>
                {% endfor %}
                {% for tagcloudcall in tagcloudcall if tagcloudcall.count >= mean and tagcloudcall.count <= mean * 2 %}
                    <font size="3"><a href="{{ path('acme_blog_view_tag', {'id': tagcloudcall.id}) }}">{{ tagcloudcall.text }}</a></font>
                {% endfor %}

                {% for tagcloudcall in tagcloudcall if tagcloudcall.count > mean * 2 and tagcloudcall.count <= mean * 3 %}
                    <font size="5"><a href="{{ path('acme_blog_view_tag', {'id': tagcloudcall.id}) }}">{{ tagcloudcall.text }}</a></font>
                {% endfor %}

                {% for tagcloudcall in tagcloudcall if tagcloudcall.count > mean * 3 and tagcloudcall.count <= mean * 4 %}
                    <font size="7"><a href="{{ path('acme_blog_view_tag', {'id': tagcloudcall.id}) }}">{{ tagcloudcall.text }}</a></font>
                {% endfor %}

                {% for tagcloudcall in tagcloudcall if tagcloudcall.count > mean * 4 and tagcloudcall.count <= mean * 5 %}
                    <p><font size="9"><a href="{{ path('acme_blog_view_tag', {'id': tagcloudcall.id}) }}">{{ tagcloudcall.text }}</a></font></p>
                {% endfor %}

                {% for tagcloudcall in tagcloudcall if tagcloudcall.count > mean * 5 %}
                    <p><font size="5"><a href="{{ path('acme_blog_view_tag', {'id': tagcloudcall.id}) }}">{{ tagcloudcall.text }}</a></font></p>
                {% endfor %}
            {% endblock %}
            <li class="nav-header">3 блок</li>
            <li>не помню для чего</li>
        </ul>
    </div>
{% endblock %}